*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
}

/* Navbar */
 
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 69px;
    background:rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    padding: 0px 30px;
    z-index: 1000;
    color: white;
}

.nav-left{
    flex: 1;
}

.nav-center{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding-right: 340px;
}

.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */

.home {
    position: relative;
    min-height: 100vh;
    background-image:url(petcare.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    color: white;
    line-height: 2;
    overflow: hidden;
}

.h1-home{
    font-size:130px;
    margin: 0;
    padding: 0;
    line-height: 1;

}

p{
    padding-top: 30px;
    font-size: 25px;
}

.home::before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      z-index: 0;
    }

.home-content{
    position: relative;
    z-index: 1;
    padding: 0 20px;
}

.home-h3 {
    font-family:'Poppins';
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.line{
    position: absolute;
    bottom:50px;
    width:100%;
    overflow:hidden;
    pointer-events: none;
    z-index: 10;
    height: 70px;
    padding-top: 40px;
}

.line-content{
    display: flex;
    gap: 10px;
    white-space: nowrap;
    animation: scroll 25s linear infinite;
    align-items: center;
    color:white;
}

@keyframes scroll{
    0%{transform:translateX(-50%);}
    100%{transform:translateX(0%);}
}

.line-content i{
    display: block;
    animation:jump 1s ease-in-out infinite;
}





.line-content i:nth-child(2n+1) {animation-delay: 0.1s;}
.line-content i:nth-child(2n+2) {animation-delay: 1s;}




@keyframes jump {
    0%,100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
}

/* Pettips Section */

.pettips{
    background-image: url(petcare1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 0 15px;
    color: white;
    line-height: 1.4;
    position: relative;
    z-index: 1;
}

.pettips::before{
    content: "";
    z-index:0;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.pettips-content{
    z-index: 100;
    max-width: 1000px;
    width: 120%;
    text-align: center;
    margin-bottom: 0 auto;
    padding-top: 35px;
}


.pettips-h1{
    font-size: 60px;
    margin-bottom:3px;
}

.pettips p {
    font-size: 23px;
}

.content-h1 {
    font-size: 27px;
}

.pcontent-p{
    padding: 0;
}

/* Health Section */
 
.health{
    background-image: url(kittens.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 1.4;
    position: relative;
    z-index: 1;
}

.health::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.4);
    z-index: 0;
    width:100%;
    height: 100%;
}

.health-content{
    z-index: 1;
    width: 90%;
    text-align: center;
    margin-bottom: 0 auto;
    padding-top: 20px;
}

.health-h1{
    font-size:57px;
}

.hcontent-h1 {
    font-size: 28px;
}

.hcontent-p{
    padding: 0;
}

/* Adoption Section */

.adoption  {
    background: url(rabbit.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.adoption::before{
    content: "";
    position:absolute;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.adoption-content{
    z-index: 1;

}

.adoption-h1{
    font-size: 70px;
    margin-bottom: 10px;
}

.acontent-h1{
    font-size: 27px;
}

.adoption-content p{
    padding-top: 0;
}
